html, body {
  width: 100%;
  height: 100%;
  margin:0 !important;
  padding:0 !important;
  font-family: 'Prompt', sans-serif;
  color: #FFF;
}

h1,h2,h3,h4,h5,h6{
  font-weight: 200;
  margin-bottom: 0.5em;
}

h5, h6 {
  line-height: 130%;
}

a, a:focus, a:active {
  color: #ECECEC !important;
  text-decoration:none;
}

a:hover {
  color: #FFF !important;
  text-decoration: none;
}

body {
  background: url('http://www.winwanwon.in.th/BGwOverlay.jpg') center center;
  background-attachment: fixed;
  background-size: cover;
}

/*body:before {
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  background: -webkit-linear-gradient(#3d4c5a 0%, #5cc1b2 100%);
  background-attachment: fixed;
  opacity: .8;
}*/

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

.navbar-brand-bold{
  font-size: 22pt;
  font-weight:400;
  letter-spacing: 2px;
  line-height: 49px;
}

.navbar-brand-light{
  font-size: 24pt;
  font-weight:100;
  letter-spacing: 2px;
  line-height: 49px;
}

.navbar-trans {
  background: rgba(0, 0, 0, 0);
  border-radius: 0;
  border-bottom: 1px solid #FFF;
  padding: 15px 0 3px 0;
  margin: 0 auto;
}

.dropdown-menu {
  background: rgba(0,0,0,0.5);
}

.dropdown-menu > li > a:hover {
  background: rgba(0,0,0,0.8) !important;
}

.form-control {
  border: 0;
  background: rgba(0,0,0,0.5);
  color: #FFF;
}

.form-control:focus {
  box-shadow: none;
}

.form-login {
  margin-top: 5px;
  margin-bottom: -4px;
}

.alert-trans {
  background: rgba(0,0,0,0.5) !important;
  margin: 15px 0;
  line-height: 8px;
  font-size: 10pt;
}

.btn-trans, .btn-trans:focus, .btn-trans:active {
  background: rgba(0,0,0,0);
  color: #FFF;
  border-radius: 12px;
  padding-left: 40px;
  padding-right: 40px;
  border: 1px solid #FFF;
  transition: 0.2s all ease-in-out;
}

.btn-trans-primary {
  background: #FFF;
  color: #000 !important;
}

.btn-trans:hover {
  color: #FFF;
  background: rgba(0,0,0,0.4);
}

.btn-trans-primary:hover {
  background: #FFF;
  color: #000 !important;
  opacity: 0.8;
}

.nav > li > a {
  color: #EEE;
  text-decoration: none;
  background-color: rgba(0,0,0,0) !important;
}

.nav > li > a:hover {
  color: #FFF;
}

.bootstrap-tagsinput {
    border: 0;
    background: rgba(0,0,0,0.4) !important;
    color: #FFF;
    width: 100% !important;
}

.tag {
  font-size: 8pt;
}

.text-red {
  color: red !important;
}

.dir-avatar {
  width: 10vw; 
  height: 10vw;
}

.student {
  cursor: pointer !important;
  margin: 10px auto;
}

#interests {
  padding-left: 0 !important;
}

.interest-li {
  list-style: none;
  display: inline-block;
  padding: 5px 10px;
  background: #fff;
  color: #000;
  margin: auto 3px;
  font-size: 9pt;
}

.modal-content {
  background: rgba(0,0,0,0.9);
}


.panel-default{
 background: rgba(0,0,0,0.4) !important; 
 border-color: rgba(0,0,0,0.4) !important; 
}

.panel-heading{
  background: rgba(0,0,0,0.5) !important; 
  color: white !important;
}

.panel-default>.panel-heading {
  border-color: rgba(0,0,0,0.4) !important; 
}

.btn-current{
  background: rgba(11,214,189,0.8);
  border-color: rgba(255,255,255,0.4);
}

.btn-del {
padding-top:10px;
background:transparent;
border:none;
float:right;
color:white;
}

.btn-work{
  position: relative;
  top:-6px;
  right: -10px;
}

.size{
  font-size:large;
}

.verticalLine {
  border-left: thin solid #ffffff;
  height :350px;
}


@media screen and (max-width:768px){
  .navbar-trans {
    padding: 15px 0 8px 0;
  }

  .dir-avatar {
     width: 20vw; 
     height: 20vw;
  } 

  .verticalLine {
    border-left: none !important;
    height: 0;
  }
}